<footer class="footer">
<div class="footer__container">
<section>
    <h2 class="footer__title">Sobre</h2>
    <p class="footer__about-text">Quer saber mais sobre nós ? nos procure em nossas redes sociais.
            </p>
</section>

<address>
    <h2 class="footer__title">Contato</h2>
    <ul>
        <li><i class="fa-solid fa-phone-volume"></i> (xx)99999-9999</li>
        <li><i class="fa-solid fa-envelope"></i> email@email.com.br</li>
        <li><i class="fa-brands fa-whatsapp"></i> (xx)99999-9999</li>
    </ul>
</address>
</div>
<section class="footer__copyright">
    &copy; Todos os direitos reservados
</section>
</footer>

